
.sideBar{
    position: relative;
    width: 24rem;
    height: 100%;
    background-color: #1f1f23;
    overflow: auto;
    transition: .3s;
}
.sideBar > h2{
    padding: 1rem 1rem 0rem 1rem;
}

.sideBar > h2,.sidebar__logo{
    font-size: 1.9rem;
}

.sidebar__logo{
    position: relative;
    height: 3rem;
    margin: 2rem 1rem;
    padding: 0rem;
}

.sidebar__logo > i{
    transform: rotate(90deg);
}

.logosideFull{
    position: absolute;
    right: 1rem;
    top: 1rem;
    margin: 0;
    padding: 1rem .5rem;
}

.logosideFull > i{
    transform: rotate(-90deg);
}

.sideBar__following:hover{
    cursor: pointer;
    background: var(--sidebar-alt);   
}

.sideBar > p,
.sideBar > h4{
    padding: 1rem;
}


.sidebar__title, .sideBar__following{
    margin: .5rem 0;
}

.sideBar__following,.icon-sidebar{
    padding: .5rem 1.5rem.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBar__following > .sidebar__title{
    display: contents;
}

.change_order{
    font-size: 1.6rem;
    font-weight: 600;
}


/*--------------------show more-------------------------*/

.sidebar__topShowmore{
    display: inline-block;
    font-size: 1.2rem;
    color: var(--first-color-alt);
}

.sidebar__topShowmore:hover{
    text-decoration-line: underline;;
    color: var(--color-input-focus);
    cursor: pointer;
}
.icon-sidebar{
    padding-inline-end: 1rem;
    font-size: 1.8rem;
    justify-content: center;
}


/*----media query----*/
@media screen and (max-width: 1062px) {
    .sideBar{
        width: 5rem;
    }
    .sidebar__logo, .sideBar > h2,
    .sideBar__following,
    .sidebar__title,
    .sidebar__topShowmore{
        display: none;
    }
    
}

