:root{
  --firt-color: #a970ff;
  --first-color-alt: #BF94FF;
  --color-input-focus: #9147ff;
  --color-white: #ffffff;
  --main-color: #0e0e10;
  --background-alt: #18181b;
  --color-alt: #2a2a2d;
  --color-light: #3d3d40;
  --sidebar-alt: #3c3c3f;

  --text-color-light: #adadb8;
  --text-color-lighter: #efeff1;
  --text-color-placeholder: #b4b4b5;
  --font-principal: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-text: "Roobert","Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font-principal);
  color: var(--color-white);
  background-color: var(--main-color);
  line-height: 1.5;
  font-size: 1.3rem;
}

html,body,#root{
  height: 100%;
}

